.new_matching_container {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new_matching_text {
  height: 50px;
  font-size: 25px;
}
